@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
}

aside {
	display: flex;
	float: left;
	width: 20%;
	height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(180deg, #56B4D3, #348F50);
}

aside img{
    max-width: 100%;
    height: auto
    object-fit: cover;
    object-position: bottom;
    text-align: center;
}


aside ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

a {
	display: block;
	margin: 15px;
	width: auto;
	height: 55px;
	background-color: transparent;
	color: #FFF;

	text-align: left;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;

	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	text-decoration: none;
}

aside ul li {
	transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #404040;
    text-decoration: none;
    transform: scale(1.05);
}

main {
	display: flex;
}