<!--<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'wallet/css/calendar.css' %}">
  <title>Django Calendar App</title>
</head>
<body>
    <aside>
        <img src="{% static 'wallet/img/var2.png' %}" alt ="Лого">
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li>
            <a href="{% url 'we' %}"><li><i class="fas fa-search"></i> Обо мне</li></a>
            <a href="{% url 'calendar' %}"><li><i class="fas fa-duotone fa-calendar"></i> Календарь</li></a>
            <a href="#"><li><i class="fas fa-regular fa-thumbtack"></i> Цели</li></a></a>
        </ul>
    </aside>
    <main>
      {% block content %}
      {% endblock %}
    </main>
</body>
</html> -->