<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'wallet/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <div class="container">
		<aside>
			<img src="{% static 'wallet/img/var2.png' %}" alt ="pic">
			<ul>
				<a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
				<a href="{% url 'we' %}"><li><i class="fas fa-search"></i> Обо мне</li></a>
				<a href="#"><li><i class="fas fa-duotone fa-calendar"></i> Календарь</li></a>
				<a href="#"><li><i class="fas fa-regular fa-thumbtack"></i> Цели</li></a></a>
            </ul>
		</aside>
		<main>
            {% block content %}
            {% endblock %}
		</main>
	</div>
</body>
</html>